<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<system.web>
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" maxRequestLength="1048576" />
	</system.web>
	<connectionStrings>

		<!--   Dev1   -->
		<!--add name="SELULT5241_PricingService" connectionString="Server=SELUWS2337;Database=PricingService;User Id=PricingService;Password=PricingS;" /-->
		<!--add name="SELULT5241_PricingService" connectionString="Server=SELULT5241;Database=PricingService;User Id=PricingService;Password=PricingS;" /-->
		<add name="SELULT5241_PricingService" connectionString="Server=SELUWS2337;Database=PricingService;User Id=PricingService;Password=PricingS;" />
    <add name="SELULT4526_PricingService" connectionString="Server=SELUWS2337;Database=PricingService;User Id=PricingService;Password=PricingS;" />
    <!--   Dev2   -->
    <!--add name="SELULT5241_PricingService" connectionString="Server=SELUWS2356;Database=PricingService;User Id=PricingService;Password=5pK#TExFi6;" /-->
    <!--add name="SELULT4526_PricingService" connectionString="Server=SELUWS2356;Database=PricingService;User Id=PricingService;Password=5pK#TExFi6;" /-->
    <!--   Test   -->
		<add name="SELUWS2135_PricingService" connectionString="Server=SELUWS2228;Database=PricingService;User Id=PricingService;Password=5pK#TExFi6;" />
		<!--   PreProd   -->
		<add name="SELUWS2255_PricingService" connectionString="Server=SELUWS2254;Database=PricingService;User Id=PricingService;Password=5pK#TExFi6;" />
		<!--   Production   -->
		<add name="SELUWS2229_PricingService" connectionString="Server=SELUWS2252;Database=PricingService;User Id=PricingService;Password=5pK#TExFi6;" />
		


	</connectionStrings>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
		multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
</configuration>
